#title{
  background-image: url('https://assets.hongkiat.com/uploads/40-cool-abstract-and-background-photoshop-tutorials/windows-vista.jpg');
}
.logo{
  padding: 20px;
}
.top-content{
  padding: 0 0% 5% 0%;
  margin:0% 10% 0 10%;
}


.about-head-1{
  text-align: center;
  color:#85C1E9;
  position: absolute;
  top:1rem;
  background: white;
  padding: 0 3rem 0 3rem;
}
.about-head-2{
text-align: center;
  color:#85C1E9 ;
  position: absolute;
  top:1rem;
  background: white;
  padding: 0 1.5rem 0 1.5rem;
}
#about{
  padding:5%;
}
.about-2{
  padding: 6rem;
  outline: 5px solid #85C1E9 ;
  outline-offset:-2.5rem;
}
.about-text{
  text-align: center;
  font-size: 20px;
  padding: 0.5rem;
  position : relative;
}
.about-text-1{
  text-align: center;
  font-size: 20px;
  padding: 0.5rem;
  position : relative;
}
.service-block{
  background-color: #85C1E9;
  padding: 1%;

}
.text-muted{
  font-size: 20px;
}
.service-image{
  width:100%;
  border-radius: 70%;
  height: 250px;
  padding: 2%;
}
#services{
  background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/6c2a1c2a-3796-432c-b00c-ce42bdbe5e44/d4tgoc9-31e89077-3ec6-49c0-82e8-d0b534c02a71.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvNmMyYTFjMmEtMzc5Ni00MzJjLWIwMGMtY2U0MmJkYmU1ZTQ0XC9kNHRnb2M5LTMxZTg5MDc3LTNlYzYtNDljMC04MmU4LWQwYjUzNGMwMmE3MS5qcGcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.XSAXZ0spFim3ru7svLyJePDD73v6Vi-39G2CTw2aSPg');
  padding :4%;
}
.other-h2{
  color: white;
  padding: 1.5%;
}
.service-block{
  padding:2% 5%;
}
.caption{
  color: white;
  padding: 2%;
  text-align: center;
  font-size: 20px;
}
.service-text{
  padding: 2% 0 0 0;

  color:white !important;
}

.edu-image{
  width:300px;
  height:250px;
  padding: 2% 0 2% 0;
  border-radius: 10%;
}
#education{
  padding:5%;
    color:#85C1E9;
}
.edu-text{
  padding-left:25%;

}
#connect{

  background-image: url('https://i.stack.imgur.com/ITrUe.jpg');
  padding :4%;
  color:white;
}
.caption-1{
  padding:5% 15% 5% 5%;
  font-size: 20px;
  text-align: center;
}
.foot{
  padding: 5%;
  color:  #85C1E9;
}
.footer-social-icons{
  text-align: center;
  font-size: 20px;
}
.fa-facebook {
      background: #3B5998;
}
.fa-twitter{
  background:  #337ab7;
}
.fa-instagram{
  background: #fb3958;
}
.fa-youtube{
    background: #e64a41;
}
.fa-linkedin{
    background: #0073a4;
}
.fa-google-plus{
  background:#e64a41;
}
.fa {
      padding: .5%;
      text-align: center;
      margin: 5px 2px;
      border-radius: 100%;
    color:white;}
@media (max-width:1300px) and (min-width:770px){
  .edu-col-1{
    margin-left: 25%;
  }
}
@media (max-width:1300px) {
  .logo{
    text-align: center;
  }
  .carousel-2{
    margin: 20px 15px 20px 10px;
  }
  .about-head-1{
    font-size: 15px !important;


padding: 0 0.5rem 0 0.5rem !important;
    left: 50%;
margin-left: -100px;
}

.main-head{
  font-size: 1.15rem;
  }

.about-head-2{
      font-size: 15px !important;
padding: 0 0.5rem 0 0.5rem !important;
  left:50%;
  margin-left: -105px;


  }

  .about-2{
    padding: 3rem;
    outline: 2px solid #85C1E9 ;
    outline-offset:-2.5rem;
  }
  .about-text{
    text-align: center;
    font-size: 14px !important;
    padding: 0.75rem !important;
  }
  .about-text-1{

  text-align: center;
  font-size: 14px !important;
  padding: 0.75rem !important;

}
.service-text{

  text-align: center;
  font-size: 15px !important;
  padding: 0.75rem !important;

}
}
@media (max-width:760px){
  .caro-image{
    padding-bottom: 4%;
  }
  .service-image{

    border-radius: 50% !important;
    width:300px;
    height: 300px;
    padding: 10%;
    left:50%;
   margin-left:7px;
  }
  h2{
    font-size:1.2rem;
  }
  h3{
    font-size:1.15rem;}
  .edu-image{
    left:50%;
    margin-left:5px;
  }
  .caption-1{
    padding:5% !important;
  }
}
